.resume{
    width: 100%;
}

article .article_box{
    padding: 2rem 2rem;
}

@media screen and (max-width:768px) {
    article .article_box{
        padding: .5rem .2rem;
        padding-bottom: .5rem;
    }
}